
// ? @@@@@@@@@@@@@@@@@@@@@@[  Products start  ]@@@@@@@@@@@@@@@@@@@@@@


nav {
    & .breadcrumb {
        padding-bottom: 16px;
        padding-top: 20px;
        & .breadcrumb-item {
            color: #989898;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857;
            & a {
                color: #4d4d4d;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857;
                &:hover {
                    text-decoration: underline;
                }
            }
            & .active {

            }
        }
    }
}
.heroSection {
    background-color: white;
    position: relative;
    & .carsoulSidePart {
        max-height: 552px;
        position: sticky;
        top: 136px;
        overflow: hidden;
        flex-direction: row;
        & .slideLeft {
            padding-right: 16px;
            width: 96px !important;
            & .mySwiper {
                height: 100%;
                width: 100% !important;
                & .swiper-wrapper {
                    width: 80px;
                    flex-direction: column;
                    & .swiper-slide {
                        width: 100% !important;
                        height: 100px !important;
                        border: 1px solid #e6e6e6;
                        cursor: pointer;
                        &.swiper-slide-thumb-active {
                            border: 2px solid  #146EB4;
                        }
                        & img {
                            object-fit: contain;
                            object-position: center;
                        }
                    }
                }
            }
        }
        & .slideRight {
            width: calc(100% - 96px);
            & .mySwiper2 {
                height: 100% !important;
                border: 1px solid #e6e6e6;
                position: relative;
                & .sharebtn {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #fff;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #e6e6e6;
                    box-shadow: 0 2px 4px rgba(26,24,30,.24);
                    & img {
                        width: 28px;
                        height: 28px;
                    }
                }
                & .swiper-wrapper {
                    & .swiper-slide {
                        cursor: zoom-in;
                        & img {
                            object-fit: contain;
                            object-position: top center;
                        }
                    }
                }
                & .swiper-button-next {
    
                }
                & .swiper-button-prev {
    
                }
            }
        }
    }
    & .rightSidePart {
        padding: 0px 0px 32px 32px;
        & .productHeading {
            text-transform: capitalize;
            font-size: 20px;
            line-height: 28px;
            font-weight: 400;
            color: #1a181e;
        }
        & .startOuter {
            & .startInner {
                gap: 4px;
                & .starImgOuter {
                    width: 20px;
                    height: 20px;
                    & .img {
    
                    }
                }
            }
        }
    }
}

[data-page-name=products] {
    @include media-breakpoint(basic) {
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=products] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  Products start  ]@@@@@@@@@@@@@@@@@@@@@@

